doctype html
html
  head
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.0/lodash.js")
    script(src='svg.js')
    script(src='svg.foreignobject.js')
    script(src='classes/stackElement.js')
    script(src='classes/stackHtmlElement.js')
    script(src='classes/stackAbstractContainer.js')
    script(src='classes/stackContainer.js')
    script(src='classes/stackHorizontalContainer.js')
    script(src='classes/stackHtmlDepElement.js')
    script(src='classes/tree/stackTreeContainer.js')
    script(src='classes/tree/structureTree.js')
    script(src='classes/tree/structureTreeArrow.js')
    script(src='app.js')
    style
      | rect { fill: #EEF; stroke: gray; stroke-width: 1px }
      | .tree-line { stroke: gray }
      | .root-header-addition { color: gray; font-size: 12px; margin-left: 50px; }
      | .content-wrapper > * { float: left; }
  body
    svg#svg(style="width: 2000px; height: 2000px;")
