doctype html
html
  head
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.0/lodash.js")
    script(src='svg.js')
    script(src='svg.foreignobject.js')
    script(src='classes/stackElement.js')
    script(src='classes/stackHtmlElement.js')
    script(src='classes/stackAbstractContainer.js')
    script(src='classes/stackContainer.js')
    script(src='classes/stackRoot.js')
    script(src='classes/stackHorizontalContainer.js')
    script(src='classes/stackHtmlDepElement.js')
    script(src='classes/tree/stackHtmlElementWithCollapser.js')
    script(src='classes/tree/stackTreeContainer.js')
    script(src='classes/tree/structureTree.js')
    script(src='classes/tree/structureTreeArrow.js')
    script(src='classes/tree/structureTreeUnbindedX.js')
    script(src='classes/tree/structureTreeFactory.js')
    script(src='treeData.js')
    script(src='app.js')
    link(rel='stylesheet' href='font-awesome.min.css')
    style
      | .root-header-addition { color: gray; font-size: 12px; margin-left: 50px; }
      | .content-wrapper > * { float: left; }
      | .tree-header-collapser { float: right; background-color: white; width: 30px; height: 30px; line-height: 30px; margin-top: 2.5px; text-align: center; border-radius: 50%; color: gray; cursor: pointer; }
      | .fa { display: inline; }
  body
    svg#svg(width='100%' style='padding: 5px;')
